/* ------------------首頁------------------ */
.indexWrap {
    background-image: url(../images/wrapper1.jpg);
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 700px;
    background-size: cover;
    margin: 0 auto;

    margin-bottom: 80px
}

.indexWrapText {
    color: #305004;
    padding-top: 18%;
    padding-left: 16%;

}

.indexWrap h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 30px;
}

.indexWrap p {
    font-size: 24px;
    font-weight: 600;
}

/* -------------------------------------------------- */
.indexH2Title h2 {
    font-size: 36px;
    background-color: #F7FEED;
    padding: 0 25px;
}

.indexH2Title {
    display: flex;
    align-items: center;

    margin-bottom: 50px;

}

.indexH2Title::after,
.indexH2Title::before {
    content: '';
    height: 2px;
    flex-grow: 1;
}

.indexH2Title::before {
    background: linear-gradient(270deg, #C6E19F 85%, #c5e19f00);
}

.indexH2Title::after {
    background: linear-gradient(90deg, #C6E19F 85%, #c5e19f00);
}

.indexAboutUs p {
    text-align: center;
    padding: 0 80px;
}

.aboutUsBg1 {
    border: 0;
    opacity: .3;
}

.aboutUsBg2 {
    border: 0;
    opacity: .3;
    float: right;
    margin-bottom: 50px;
}


/* ------------與鳥互動------------ */
.birdTouch {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;

}

.birdTouchCard {
    width: 500px;
    height: 500px;
    background-color: #C6E19F;
    border-radius: 20px;
}

.birdTouchCard span {
    display: block;
    font-size: 36px;
    font-weight: 600;
    padding: 200px 0 50px 50px;
}

.birdTouchCard p {
    padding: 0 50px;
}

.birdTouchImg {
    border: 3px solid #8EAE60;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.swiper-slide img {
    border: none;
    border-radius: 0;
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev:hover .bi,
.swiper-button-next:hover .bi {
    transition: 0.5s;
    background-color: #8EAE60;
    color: #F7FEED;
}

.swiper-button-prev {
    transform: translate(10px, 200px);
}

.swiper-button-next {
    transform: translate(-10px, 200px);
}

.birdTouchImg .bi {
    font-size: 50px;
    color: #8EAE60;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 50%;
}

/* ------------餐點種類------------ */
.meals {
    margin-bottom: 120px;
}

.meals ul {
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-bottom: 50px;
}

.meals li {
    position: relative;
    width: 350px;
}

.meals a {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    color: #487509;

    float: right;
}

.meals i {
    background-color: #C6E19F;
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
}

.meals img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meals span {
    position: absolute;
    z-index: 1;
    top: 30px;

    display: block;
    font-size: 20px;
    line-height: 30px;
    width: 60px;
    text-align: center;
    background-color: #8EAE60;
    color: #fff;
}

/* ------------空間------------ */

.storeSpace {
    background-image: url(../images/space2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;

    clear: both;
    margin-bottom: 50px;
}

/* ------------地點------------ */
.indexPlaceHere {
    display: flex;

    margin-bottom: 50px;
}

.indexPlaceHere p {
    margin: auto 50px;
    width: 300px;
}

/* ------------------各式菜單------------------ */
.menuWrap {
    background-image: url(../images/drink_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 1600px;
    height: 500px;
    margin: 0 auto;

    margin-bottom: 30px;
}

.menuWrap h1 {
    color: #305004;
    font-size: 48px;
    font-weight: 800;

    padding-top: 100px;
    padding-left: 20%;
    margin-bottom: 90px;
}

.menuWrap p {
    color: #305004;
    font-weight: 600;
    font-size: 24px;

    padding-left: 50%;
}

/* ----------主題選單--------- */
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_option_container {
    display: flex;
}

.list_option {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    background-color: none;
    border-left: 2px solid #C6E19F;
}

.list_option input[type="radio"] {
    appearance: none;
}

.list_option:has(input[type="radio"]:checked) {
    background-color: #C6E19F;
}

/* ----------菜單選單--------- */
.mealsImg li {
    width: 400px;
    height: 450px;
}

.mealsImg img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.mealsList {
    border-top: 2px solid #C6E19F;
    border-bottom: 2px solid #C6E19F;
    margin-bottom: 30px;
    padding: 30px 0;

    display: flex;
    justify-content: center;
    gap: 50px;
}

.price {
    width: 40%;
}

.price li {
    padding: 15px;
    font-size: 20px;
    border-bottom: 2px solid #C6E19F;

    display: flex;
    justify-content: space-between;
}

.price li:hover {
    border-color: #8EAE60;
    background-color: #8EAE60;
    color: #FFF;
}

/* ----飲品---- */
/* .stapleFoodList {
    display: none;
} */

/* ----主食---- */
.stapleFoodList {
    display: none;
}

/* ----甜點---- */
.dessertList {
    display: none;
}


/* ------------------店鳥介紹------------------ */
.bridIntroduce {
    margin-bottom: 120px;
}

.bridIntroduce>p {
    margin: 20px 0 50px 0;
}

.bridIntroduce ul {
    width: 90%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}

.bridIntroduce li {
    position: relative;
}

/* ------------------------------------ */
.bridIntroduce li:nth-child(2n) {
    transform: translateY(-120px);
}

/* ------------------------------------ */

.bridIntroduce img {
    width: 450px;
    height: 400px;
    object-fit: cover;
    border: 3px solid #8EAE60;
    border-radius: 20px;
}

.bridCard {
    width: 200px;
    padding: 20px;
    background-color: #C6E19F;
    border: 2px solid #8EAE60;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    position: absolute;
    right: -90px;
    bottom: -70px;
}

.bridCard .bridName {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.bridCard .bridType {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.bridCard p {
    font-size: 16px;
    line-height: 1.4;
}


/* ------------------店內資訊------------------ */
.aboutUs {
    margin-bottom: 30px;

    position: relative;
}

.aboutUs p {
    width: 77%;
    padding-bottom: 20px;
    border-bottom: 2px solid #C6E19F;
}

.aboutUs img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;

    position: absolute;
    top: -60px;
    right: 0;
}

.placeHere {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    margin-bottom: 30px;
}

.placeHere iframe {
    flex-shrink: 0;
    outline: 2px solid #C6E19F;
}

.placeText p {
    max-width: 500px;
    margin-bottom: 30px;
}

.placeText a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    background-color: #8EAE60;
    color: #fff;
    width: 200px;
    text-align: center;
    line-height: 60px;
}

.placeText a:hover {
    background-color: #C6E19F;
    color: #487509;
}

/* ------------------線上訂位------------------ */
.notice span {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.6;
}

.notice p {
    line-height: 1.4;
    padding-bottom: 10px;
    border-bottom: 1px solid #C6E19F;

    margin-bottom: 20px;
}

/* ------------------預約成功------------------ */
.reserveSuccess {
    padding: 200px 0;
}

.reserveSuccess span {
    font-size: 36px;
    font-weight: 600;
}

.reserveSuccess p {
    font-size: 24px;
    padding-bottom: 30px;
    border-bottom: 3px solid #C6E19F;

    margin: 30px 0;
}

.reserveSuccess a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    background-color: #8EAE60;
    color: #fff;
    width: 200px;
    text-align: center;
    line-height: 60px;
}

.reserveSuccess a:hover {
    background-color: #C6E19F;
    color: #487509;
}