@import url(reset.css);

body {
    background-color: #F7FEED;
    color: #487509;
}

/* 側邊訂位按鈕 */
body>a {
    position: fixed;
    right: 0;
    bottom: 60px;
    z-index: 99;

    background-color: #8EAE60;
    width: 100px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    line-height: 100px;
    font-size: 24px;

    padding-left: 25px;
    border: 1px solid #487509;
    border-radius: 50% 0 0 50%;
}


/* ---------------------導覽列------------------------ */
.nav {
    background-color: #8EAE60;
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    margin-left: 20px;
    height: 45px;
}

.nav a {
    display: block;
}

.nav ul {
    width: 550px;
    display: flex;
}

.nav li {
    flex-grow: 1;
}

.nav li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    color: #305004;
    background-color: #8EAE60;
}



/* ---------------------頁尾----------------------- */
.foot {
    background-color: #8EAE60;
}

.foot_top {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 1px solid #487509;

}

.foot img {
    height: 45px;
}

/*  */
.foot_bottom {
    padding: 20px 0;
}

.foot p {
    text-align: center;
}

/* ---------------------HOVER------------------------ */
/* 導覽列 */
.nav li a:hover {
    background-color: #C6E19F;
}

/* 側邊訂位按鈕 */
body>a:hover {
    background-color: #C6E19F;
    color: #8EAE60;
    border: none;
}

/* ---------------------RWD------------------------ */

/* ---------------------820斷點------------------- */
@media screen and (max-width: 821px) {
    .nav ul {
        width: 400px;
    }

    .foot_top {
        width: auto;
        margin: 0 10px;
    }
}



/* ---------------------430斷點------------------- */
@media screen and (max-width: 431px) {
    .nav {
        height: 50px;
    }

    .nav img {
        height: 35px;
        margin-left: 10px;
    }

    .nav ul {
        width: 350px;
    }

    .nav li a {
        font-size: 16px;
        line-height: 50px;
    }
}