@import url(reset.css);

/* ---------------------導覽列------------------------ */
nav {
    margin-bottom: 30px;
}

/* --------------------------------------------- */
main {
    width: 1200px;
    margin: 0 auto;

    position: relative;
}

main h2 {
    background-color: #C6E19F;
    width: 100px;
    font-size: 24px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 7px 20px 7px 0;

    margin-bottom: 20px;
}

main h2::before {
    content: '';
    position: absolute;
    background-color: #C6E19F;
    width: 200px;
    height: 38px;
    right: 100%;
}

/* 關於我們 */
.about {
    margin-bottom: 30px;
}

.about p {
    font-size: 20px;
    line-height: 1.6;
    width: 880px;
    padding-bottom: 20px;
    border-bottom: 2px solid #C6E19F;
}

.about img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;

    position: absolute;
    right: 0;
    top: 0;
}

/* 所在位置 */
.place {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
}

.place iframe {
    width: 550px;
    height: 500px;
    outline: 2px solid #C6E19F;
}

/* 所在位置 右邊內容 */
.place_word {
    margin-left: 50px;
}

.place_word p {
    font-size: 20px;
    width: 490px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.place_word a {
    display: block;
    background-color: #8EAE60;
    width: 200px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
}


/* ---------------------HOVER------------------------ */

.place_word a:hover {
    background-color: #C6E19F;
    color: #8EAE60;
}