@import url(reset.css);

/* --------------------------------------------- */
.main {
    width: 1200px;
    margin: 0 auto;

    padding: 200px 0;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.main p {
    font-size: 24px;
    padding-bottom: 30px;
    border-bottom: 3px solid #C6E19F;

    margin-bottom: 30px;
}

.main a {
    display: block;
    background-color: #8EAE60;
    width: 200px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    line-height: 60px;
    font-size: 24px;
    text-align: center;

}


/* ---------------------HOVER------------------------ */

.main a:hover {
    background-color: #C6E19F;
    color: #8EAE60;
}