@import url(reset.css);

nav {
    margin-bottom: 30px;
}

/* ---------------------內容------------------------ */
main {
    width: 1200px;
    margin: 0 auto;
}

main h2 {
    background-color: #C6E19F;
    width: 150px;
    font-size: 24px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 7px 20px 7px 0;

    position: relative;
    margin-bottom: 50px;
}

main h2::before {
    content: '';
    position: absolute;
    background-color: #C6E19F;
    width: 200px;
    height: 38px;
    right: 100%;
}

main>p {
    font-size: 20px;
    margin-bottom: 50px;
}

/* -----------------鳥介紹----------------- */
.brid_introduce {
    width: 1100px;
    margin: 0 auto;
}

.brid_introduce ul {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
}

.brid_introduce li {
    position: relative;
}

.brid_introduce img {
    width: 450px;
    height: 400px;
    object-fit: cover;
    border: 3px solid #8EAE60;
    border-radius: 20px;
}


/* --------------------------------------------------- */
.brid_introduce li:nth-child(2n) {
    transform: translateY(-120px);
}


/* --------------------------------------------------- */
/* ---------------介紹小卡---------------- */
.card {
    width: 200px;
    padding: 20px;
    background-color: #C6E19F;
    border: 2px solid #8EAE60;
    border-radius: 20px;

    position: absolute;
    right: -90px;
    bottom: -70px;
}

.card h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.card p {
    line-height: 1.4;
}



/* 推footer */
footer {
    margin-top: 100px;
}

/* ---------------------HOVER------------------------ */